body{
    font-family: Arial;
    overscroll-behavior: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #000;
    color: white;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: navy;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    cursor: pointer;
    border: transparent;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    background-color: #f60;
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: 200ms ease-in-out;
    vertical-align: middle;
}

button:hover{
    background-color: #f80;
}

button:disabled,
button:disabled:hover{
    background-color: grey;
    cursor: default;
}

canvas {
    touch-action: none;
}

.row{
    display: flex;
    align-items: center;
    background-color: #151515;
}

.row:nth-child(even) {
    background-color: #000;
}

.thumb{
    width: 100%;
    filter: invert(1);
}

.rowLabel{
    flex:2 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 15%;
    margin-left: 3rem;
    font-weight: bold;
}

.sampleContainer{
    flex:1 1 0;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: 2px solid #f60;
    text-transform: capitalize;
    overflow: hidden;
}

.blur{
    filter: invert(1) blur(5px);
}

.emphasize{
    background-color: #AA0 !important;
}

/**new style*/
input,
#instructions {
    border: transparent;
    outline: 2px solid #f60;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    background-color: #000;
    color: white;
    vertical-align: middle;
    transition: 200ms ease-in-out;
}

#instructions {
    margin-right: 0.75rem;
}

#container{
    width: calc(100% - 500px);
}

#chartContainer{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    color: black;
}

#inputContainer{
    position: fixed;
    right: 500px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    margin: 10px;
    z-index: 1;
}

#controlPanel {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    text-align: center;
    padding: 10px;
    z-index: 1;
}

#predictedLabelContainer {
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 1;
}

#statistic {
    font-size: 20px;
    padding: 20px;
}