body{
    font-family: Arial;
    background-color: skyblue;
    overscroll-behavior: none;
    touch-action: manipulation;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: navy;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: mediumblue;
}

button:disabled,
button:disabled:hover{
    background-color: grey;
    cursor: default;
}

canvas {
    touch-action: none;
}

.row{
    display: flex;
    align-items: center;
}

.thumb{
    width: 100%;
}

.rowLabel{
    flex:2 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sampleContainer{
    flex:1 1 0;
    background-color: white;
    text-align: center;
    border-radius: 10%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.blur{
    filter: blur(5px);
}

.emphasize{
    background-color: yellow;
}

#container{
    width: calc(100% - 500px);
}

#chartContainer{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}